* {
  padding: 0;
  box-sizing: border-box;
}

.sectioncentral .space {
  padding-top: 80px;
}

.sectioncentral .spaceplus {
  padding-top: 25px;
}

.container {
  max-width: 2500px;
  margin: 0 auto;
  background-color: #ffffff;
  margin-top: 150px;
}

.d-inlineblock {
  display: inline-block;
}

.box1 {
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  font-size: 40px;
}

.circlecheck {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid #77ae9d;
  color: #77ae9d;
  text-align: center;
  line-height: 50px;
}

.circlecross {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid #c2776e;
  color: #c2776e;
  text-align: center;
  line-height: 50px;
}

.checkdim {
  font-size: 30px;
}

body {
  background-color: #f6f8fa;
}

header {
  height: 150px;
  background-color: white;
}

.sectionprime {
  border-bottom: 10px solid #f6f8fa;
  padding-left: 100px;
}

.thumb {
  padding-top: 30px;
  width: 80px;
  vertical-align: middle;
}

.lt {
  vertical-align: middle;
  padding-top: 30px;
  font-size: 80px;
  font-weight: bold;
  text-transform: capitalize;
}


.at {
  background-color: #44abf2;
  margin-right: 20px;
  font-weight: bold;
  color: #ffffff;

}

.as {
  background-color: #ffffff;
  border: 4px solid #d2d2d2;
  color: #d2d2d2;
}

.sectioncentral {
  font-size: 50px;
  padding-left: 100px;
}

.sectioncentral .destriction {
  background-color: #44abf2;
  border-radius: 40px;
  color: #ffffff;
  font-size: 30px;
  width: 90px;
  height: 35px;
  padding: 15px;
  margin: 15px;
}

.sectioncentral .destriction2 {
  background-color: #9c75e6;
  border-radius: 40px;
  color: #ffffff;
  font-size: 30px;
  width: 90px;
  height: 35px;
  padding: 15px;
  margin: 15px;
}

.sectioncentral .destriction3 {
  background-color: #66b49f;
  border-radius: 40px;
  color: #ffffff;
  font-size: 30px;
  width: 90px;
  height: 35px;
  padding: 15px;
  margin: 15px;
}

.sectioncentral .destriction4 {
  background-color: #f19f2f;
  border-radius: 40px;
  color: #ffffff;
  font-size: 30px;
  width: 90px;
  height: 35px;
  padding: 15px;
  margin: 15px;
}

.sectioncentral .destriction5 {
  background-color: #d863a1;
  border-radius: 40px;
  color: #ffffff;
  font-size: 30px;
  width: 90px;
  height: 35px;
  padding: 15px;
  margin: 15px;
}

.sectioncentral .destriction6 {
  background-color: #b0c923;
  border-radius: 40px;
  color: #ffffff;
  font-size: 30px;
  width: 90px;
  height: 35px;
  padding: 15px;
  margin: 15px;
}

#nostyle {
  list-style-type: none;
}